/* Estilo general */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  box-sizing: border-box;
}

.app-container {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: #f8f9fa;
  border: 1px solid #ddd;
}

/* Estilos barra de contactos */
.sidebar {
  width: 30%;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-right: 1px solid #ddd;
}

.sidebar-header .chat-item-principal {
  margin-left: -130px;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #fdfbfb;
  border-bottom: 1px solid #ddd;
}

.user-info .avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.sidebar-actions i {
  font-size: 20px;
  cursor: pointer;
  color: #888;
  margin-right: 10px;
}

/* Contenedor para centrar el botón */
.new-chat-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 35px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
}

/* Estilos del botón */
.new-chat-button {
  background-color: #a491d2;
  color: #ffffff;
  border: none;
  padding: 15px;
  padding-left: 55px;
  padding-right: 55px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.new-chat-button:hover {
  background-color: #cdc3e6;
}

/* Estilos de chats */
.chats-list {
  flex: 1;
  overflow-y: auto;
}

.chat-item-principal {
  display: flex;
  align-items: left;
  padding: 10px;
  cursor: pointer;
}

.chat-item {
  display: flex;
  align-items: left;
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
}

.chat-item .avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.chat-info h4 {
  margin: 0;
  font-size: 15px;
  color: #333;
  padding-top: 10px;
}

.chat-info p {
  margin: 2px 0 0;
  font-size: 14px;
  color: #888;
}

/* Estilos de area Placeholder o area central */
.placeholder-area {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ecece8;
  text-align: center;
}

.placeholder-content {
  max-width: 400px;
}

.placeholder-content img {
  width: 250px;
  height: auto;
  margin-bottom: 20px;
}

.placeholder-content h2 {
  font-size: 30px;
  color: #403d3d;
  margin: 0 0 10px;
}

.placeholder-content p {
  font-size: 16px;
  color: #888;
}
